.list-top {
  background: rgb(228, 218, 225);
}

.list-top > h1 {
  text-align: center;
  margin: 0;
  padding: 20px;
}

.list-top > .top-bar {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  display: flex;
  height: 40px;
}

.list-top > .top-bar > p {
  font-weight: bold;
  border-right: 1px solid grey;
  margin: 0;
  height: 20px;
  margin: 10px 0;
  text-align: center;
  text-justify: center;
}

.list-top > .top-bar > p:last-child {
  border: 0;
}

.list-top > .top-bar > .cover {
  width: 170px;
}

.list-top > .top-bar > .title,
.list > .games .title-value {
  width: 500px;
}

.list-top > .top-bar > .date {
  width: 150px;
}

.list {
  width: 820px;
}

.list > .games > .game {
  display: flex;
  border-top: 1px solid grey;
  padding: 5px;
}

.list > .games > .game:first-child {
  border: 0;
}

.list > .games > .game > img {
  height: 200px;
  width: 160px;
  margin-right: 5px;
}

.list > .games > .game > .info {
  text-align: center;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.list > .games > .game > .info > .date-value {
  width: 140px;
  margin-left: 5px;
}
