* {
  font-family: "Montserrat", "Roboto", sans-serif;
}

body {
  background: rgb(252, 248, 251);
  margin: 0px;
}

main > div {
  display: flex;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  font-weight: bolder;
}

main section {
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  background: rgb(253, 242, 250);
}

main section:last-child {
  border-right: 1px solid grey;
}
