#login-window {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -125px;
  background: rgb(228, 218, 225);
  border: 1px solid grey;
  border-radius: 20px;
  width: 400px;
  height: 250px;
  align-items: center;
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.3);
}

#login-window > .login-top {
  display: flex;
}

#login-window > .login-top > h1 {
  width: 310px;
  text-align: center;
  margin-left: 45px;
}

#login-window > .login-top > .exit {
  height: 50px;
  width: 45px;
  font-size: 50px;
}

#login-window > .login-top > .exit:hover {
  cursor: pointer;
  color: red;
}

#login-window > .inputs > .login > img,
#login-window > .inputs > .password > img {
  height: 50px;
}

#login-window > .inputs > .login > input,
#login-window > .inputs > .password > input {
  height: 30px;
  border-radius: 10px;
  border: none;
}

#login-window > button {
  background: rgb(62, 182, 62);
  border: 1px solid grey;
  width: 100px;
  border-radius: 10px;
  margin-top: 10px;
}
