.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.avatar {
  border-radius: 50%;
}

.justify {
  text-align: justify;
}

.game-link {
  color: rgb(0, 0, 0);
}

.game-link:hover {
  color: rgb(121, 121, 121);
}
